{{ debugTemplate() }}

<div class="container">
    <span><span style="color: red">signal</span>(<input #input [placeholder]="title()" (keydown.enter)="write(input.value)"/>)</span>
    <span class="edge"></span>
    <span><span style="color: red">computed</span>({{ description() }})</span>
    <span class="edge"></span>
    <span><span style="color: red">computed</span>({{ paragraph() }})</span>
    <span class="edge"></span>
    <span><span style="color: red">effect</span>(() => an effect))</span>
</div>

<button (click)="refresh()">detect changes</button>